body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  box-sizing: border-box;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  padding: 20px;
}

#login-container
#movie-container {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
}

#password {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#login-button{
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#login-button:hover {
  background-color: #0056b3;
}

#movie-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.movie-item {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 5px 0;
  transition: background-color 0.3s;
}

.movie-item:hover {
  background-color: #f0f0f0;
}

#mySearch {
  padding: 10px;
  width: 100%;
  margin-top: 10px;
  box-sizing: border-box;
  font-size: 16px;
}

#video-player {
  width: 100%;
  margin-top: 20px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #fff;
  padding: 5px 0;
}